<h1>About</h1>
<main>
    <section class="outlined-card" id="outlined-card">
        <h2>Outlined Card</h2>
        <h3>Subhead</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Justo eget magna fermentum iaculis eu non. Ipsum dolor sit amet consectetur.
            Quis ipsum suspendisse ultrices gravida dictum fusce ut. Sodales ut eu sem integer vitae justo eget
            magna.</p>
    </section>
</main>