<header class="app-bar">
    <button class="filled-icon-button" id="menu-button"
        [attr.aria-label]="navService.navigationRailOpen() ? 'Close Menu' : 'Open Menu'"
        (click)="navService.toggleNavigationRail()">
        <span class="material-symbols-outlined icon">
            {{ navService.navigationRailOpen() ? 'menu_open' : 'menu' }}
        </span>
    </button>
     <div class="text-container">
        <div id="headline">Headline</div>
        <div id="subtitle">Subtitle</div>
    </div>
    <div class="trailing-icons">
        <button class="filled-icon-button" id="color-scheme-button"
            [attr.aria-label]="themeService.isDarkMode() ? 'Switch to Light Mode' : 'Switch to Dark Mode'"
            (click)="toggleColorScheme()">
            <span class="material-symbols-outlined icon">
                {{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}
            </span>
        </button>
        <button class="filled-icon-button" id="palette-button" aria-label="Toggle Color Palette"
            (click)="switchTheme()">
            <span class="material-symbols-outlined icon">palette</span>
        </button>
        <button class="filled-icon-button" id="font-button" aria-label="Toggle Font" (click)="switchFont()">
            <span class="material-symbols-outlined icon">brand_family</span>
        </button>
    </div>
</header>