<h1>Page Heading</h1>
<main>
    <section class="elevated-card">
        <div class="hero-content">
            <img src="https://placehold.co/3000x2000" width="3000px" height="2000px" alt="Template Image 3000x2000">
        </div>
        <h2>Elevated Card</h2>
        <h3>Subhead</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Justo eget magna fermentum iaculis eu non. Ipsum dolor sit amet consectetur.
            Quis ipsum suspendisse ultrices gravida dictum fusce ut. Sodales ut eu sem integer vitae justo eget
            magna. <a href="#!">Link.</a></p>
        <div class="action-area">
            <button class="common-button filled-tonal-button" onclick="window.location.href='#filled-card'">
                <span class="label-text">Filled card</span>
            </button>
            <button class="common-button outlined-button" onclick="window.location.href='#outlined-card'">
                <span class="label-text">Outlined card</span>
            </button>
        </div>
    </section>
    <section class="filled-card" id="filled-card">
        <h2>Filled Card</h2>
        <h3>Subhead</h3>
        <div class="side-by-side">
            <div class="left-side">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                <ul>
                    <li>List item 1</li>
                    <li>List item 2</li>
                    <li>List item 3</li>
                </ul>
            </div>
            <div class="right-side">
                <div class="table-container">
                    <table>
                        <th colspan="100%">Name</th>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                        </tr>
                        <tr>
                            <td>Jane</td>
                            <td>Doe</td>
                        </tr>
                    </table>
                </div>
                <button class="common-button filled-button">
                    <span class="label-text">Filled button</span>
                </button>
            </div>
        </div>
    </section>
    <section class="outlined-card" id="outlined-card">
        <h2>Outlined Card</h2>
        <h3>Subhead</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Justo eget magna fermentum iaculis eu non. Ipsum dolor sit amet consectetur.
            Quis ipsum suspendisse ultrices gravida dictum fusce ut. Sodales ut eu sem integer vitae justo eget
            magna.</p>
    </section>
</main>